* {
	margin: 0;
	padding: 0;
	font-family: "Liberation, Deja Vu, Arial, serif";
}

html, body {
	height: 100%;
	width: 100%;
	background: black;
	overflow: hidden;
	cursor: pointer;
}

canvas {
	display: block;
	background: url('images/7.jpg') repeat;
	z-index: 5;
	display: none;
}

.screen{
	color: white;
	height: 100%;
	width: 100%;
	background: #222;
	overflow: auto;
	cursor: pointer;
	display: none;
	z-index: 50;
}

.screen p{
	text-align: center;
	font-weight: bolder;
	font-size: 4em;
}

.screen h1{
	padding: 50px 0;
	text-align: center;
	text-transform: uppercase;
	background: white;
	color: #c22121;
	border-bottom: #c22121 15px solid;
	margin-bottom: 50px;
}

.screen button{
	display: block;
	height: 100px;
	width: 500px;
	margin: 50px auto;
	text-align: center;
	background: white;
	color: #c22121;
	border: none;
	border-bottom: #c22121 10px solid;
	font-weight: bolder;
	font-size: 2em;
	border-radius: 10px 10px 0 0;
}

.screen button:active{
	position: relative;
	top: 2px;
	left: 2px;
}

.screen#frontStart{
	display: block;
}

.panel{
	background: rgba(0,0,0,0.8);
	color: white;
	width: 50%;
	min-width: 600px;
	height: 100%;
	padding: 50px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 25%;
	display: none;
	margin: auto;
	z-index : 100;
}

.panel h1{
	text-align: center;
	margin-bottom: 20px;
}

.panel h2{
	margin-bottom: 10px;
	margin-top: 20px;
	border-bottom: #c22121 dotted 1px;
}